@charset "UTF-8";
@font-face {
    font-family: 'passionone';
    src: url(fonts/PassionOne-Bold.ttf) ;
}
@font-face {
    font-family: 'sriracha';
    src: url(fonts/Sriracha-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header{
    background-color: black;
}
header > h1{
    font:calc(9vh) 'passionone', sans-serif;
    text-align: center;
    color: white;
    padding-top: 50px;
    color: white;
}
header > aside{
    color: white;
    text-align: center;
    font: normal 15px Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
header > aside > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
section{
    font: calc(4vw) 'sriracha', arial, sans-serif;
    height: calc(60vw);
    padding: 5vh;
}
.normal{
    background-color: white;
}
.transp{
    background-color: rgba(0, 0, 0, 0.474);
}
#img1{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color: white;
}
#img2{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color: white;
}
p{
    display: inline-block;
    margin: 5vh 0;
}
footer{
    font: normal 1em arial, sans-serif;
    color: white;
    text-align: center;
    padding: 4px;
}
footer > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}